//<ОСНОВНОЙ БЛОК>====================================================================================================
.btn {
	display: inline-block;
	background-color: transparent;
	border: 1px solid $blue;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 16px;
	color: $blue;
	height: 40px;
	text-align: center;
	vertical-align: top;
	transition: all 0.3s ease 0s;
	&._active, &:hover {
		color: #ffffff;
		background-color: $blue;
	}
	&._btn-mini {
		padding: 4px 12px;
		height: 28px;
		font-size: 13px;
		line-height: 18px;
	}
	&._btn-big {
		width: 100%;
		display: block;
	}
	&._btn-blue {
		color: #ffffff;
		background-color: $blue;
		&:hover {
			color: $blue;
			background-color: transparent;
		}
	}
}
/* title */
.title {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 24px;
	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 16px;
	}
}
/* subtitle */
.subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 24px;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	font-family: "Rouble";
	content: "₽";
	font-style: normal;
}
.clear {
	&:after {
		clear: both;
		display: table;
		content: "";
	}
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
.moretext {
	overflow: hidden;
}
.moretext__more {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================

@import "select2";
